:root {
	font: 13px/1.6 -apple-system, sans-serif;
	color: -apple-system-label;
}

body {
	margin: 1rem 2rem;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: -apple-system-blue;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 80%;
    max-height: 300px;
}

:not(h1) > code {
	font-family: 'Menlo', monospace;
	font-size: 90%;
	background: hsla(201, 30%, 50%, .02);
	border: 1px solid hsla(201, 40%, 50%, .15);
	border-radius: 2px;
	padding: 0 0.2em;
}

body > h1 {
	font-family: -apple-system-headline, sans-serif;
	font-size: 1.71rem;
	line-height: 1.0;
	font-weight: 400;
	margin: 2.5rem 0 1.5rem;
}

h2 {
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: 0.02em;
	margin-top: 1.5rem;
	margin-bottom: 0.3rem;
	clear: both;
}

h3 {
    font-size: 1.1rem;
	font-weight: 600;
	line-height: 1.1;
	margin-top: 1.2rem;
    margin-bottom: 0.3rem;
}

p {
	text-align: justify;
    margin: 3px 0px;
}

li {
    text-align: justify;
}

ol, ul, pre {
	margin: 0.5rem 0;
	clear: both;
}

pre {
	font-family: 'Courier', 'Courier New', monospace;
	margin-left: 1rem;
}

ul {
	list-style-type: disc;
}

li {
	margin-bottom: 0.4rem;
}

ul ul,
ul ol {
	padding: 0 3rem;
	margin: 0.5rem 0;
	border: none;
}

em, strong {
	font-weight: 600;
	font-style: normal;
}


/* dark mode */

:root {
	color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
	table thead {
		color: -apple-system-secondary-label;
	}
	pre.source {
		background: hsl(0, 0%, 10%);
	}
	code.AppleScript {
		color: hsl(230, 50%, 60%);
	}
}
